/* -----COLOR STYLE */
:root {
  --primary-text-color: #434455;
  --primar-bg-color: #ffffff;
  --bg-button-project: #e7e9fc;
  --primary-title-color: #2e2f42;
  --bg-button-hero: #404bbf;
  /* -----FONT------------------------------} */
  --primary-font-family: 'Roboto', sans-serif;
  --primary-font-size: 16px;
  --primary-letter-spacing: 2%;
  --primary-font-weight: 400;
}
/* ----PAGE  STYLE------------- */
body {
  background-color: var(--primar-bg-color);
  color: var(--primary-text-color);

  font-size: var(--primary-font-size);
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  letter-spacing: var(--primary-letter-spacing);
}
a {
  color: inherit;
}
.section {
}
.title {
}
.items {
}
.list {
}
.link {
}
.item {
}
.button {
  letter-spacing: 4%;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #3c4288;
  color: var(--bg-button-project);
}
.button:active {
  background-color: var(--bg-button-hero);
}
.text {
}
.img {
}
/* ---------------------------------- */

/* Logotype */
.logo {
  font-size: 18px;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.3;
}
.logo:hover,
.logo:focus {
  color: var(--bg-button-hero);
}
.logo:active {
  color: var(--bg-button-hero);
}
.text-logo {
  color: var(--bg-button-hero);
}
/* ----HEADER---------------------------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
}
.header-nav {
}
.nav-list {
  color: var(--primary-title-color);

  font-weight: 500;
  text-transform: capitalize;
  list-style: none;
  line-height: 1.3;
  font-family: var(--primary-font-family);

  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 40px;
}
.studio-page {
  color: var(--bg-button-hero);
}
.potfolio-page {
  color: var(--bg-button-hero);
}
.item-link {
  padding: 10px;
  text-decoration: none;
}
.item-link:hover,
.item-link:focus {
  color: #86879b;
}
.item-list:active {
  color: #040511;
}
.address-link {
  margin-right: 40px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
}
.address-link:hover,
.address-link:focus {
  color: var(--bg-button-hero);
}
/* -------SECTION HERO------------------------------- */
.section-hero {
  background-color: var(--primary-title-color);
  height: 603px;
  justify-content: space-between;
  text-align: center;
}
.title-hero {
  color: #ffffff;

  font-size: 56px;
  font-weight: 600;
  line-height: 1.07;
  text-align: center;
}
.button-hero {
  color: #ffffff;
  background-color: var(--bg-button-hero);

  width: 169px;
  height: 56px;
  border: none;
  border-radius: 5px;

  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 0.04%;
}

/* ------SECTION FEATURE----------------------------------------- */

.feature-items {
  display: flex;
  list-style: none;
}
.section-feature > .item-title {
  color: var(--primary-title-color);

  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

/* ----SECTION WORKS------------------------------------------------- */
.section-works {
}
.title-works {
  color: var(--primary-title-color);

  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  text-transform: uppercase;
}
.works-items {
  display: flex;
  list-style: none;
}

/* ------SECTION TEAM----------------------------- */
.section-team {
  background-color: #f4f4fd;
}
.team-title {
  color: var(--primary-title-color);

  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  text-transform: uppercase;
}
.team-list {
  display: flex;
  list-style: none;
  text-align: center;
}
/* .card-link {
  text-decoration: none;
} */
.title-card {
  color: var(--primary-title-color);

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.card-text {
  line-height: 1.5;
}
/* -----foter----------------------- */
.footer {
  background-color: var(--primary-title-color);
  height: 310px;
}
.footer-text {
  color: var(--primar-bg-color);
}
.text-logo.secondary {
  color: var(--primar-bg-color);
}
/* -------------------------------------------- */

/*------------- PORTFOLIO PAGE-------------- */
.project-section {
}
.section {
}
.button-project {
  background-color: var(--bg-button-project);

  padding: 12px 24px;
  margin-right: 24px;
  width: 116px;
  height: 48px;
  border: none;
  border-radius: 5px;

  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 4%;
}
.project-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.project-item {
}
.project-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.project-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
